* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background-color: #e7be28;
}

.board {
  width: 750px;
  height: 750px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid blue;
  perspective: 1000px;
}

.board-passport {
  width: calc(20% - 10px);
  height: calc(25% - 20px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.board-passport:active {
  transform: scale(0.8);
  transition: transform 0.2s;
}

.board-passport.flip {
  transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 8px;
  background: wheat;
  backface-visibility: hidden;
}

.front {
  transform: rotateY(180deg);
}

.restart {
  max-width: 50%;
  margin: 1.5em auto;
  text-align: center;
}

.reset-button {
  padding: 0.7em 1.4em;
}
